.container {
    /* width: 100%; */
    /* height: 100vh; */
    /* margin: 0 auto; */
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../styles/img/b55.jpg);
}

.title {
    font-size: 3rem;
    margin-bottom: 5px;
    /* padding-top: 200px; */
    /* padding-bottom: 100px; */
    font-weight:400;
    color: #000000;
    width: 100%;
}

.list {
    display: flex;
    margin: 20px;
}

.listItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:auto;
    height: auto;
    align-items: center;
    margin: 100px;
    border: 6px solid #006600;
    padding: 2rem;
    border-radius: 5px;
    background-image: url(../styles/img/hhhdhd.jpg);
    background-size: contain;
    
}
.listItem > div{
    margin: 10px 0px;
}
.btn{
  background-color: red;
  border-radius: 10%;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.btn {
    background-color: #006600;
    color: whitesmoke;
    font-size: 1rem;
    margin-top: 10px;
    border: 2px solid #006600;
}
.btn:hover{
    background-color: brown;
    color: #fff;
    font-size: 1rem;
    margin-top: 10px;
    border: 2px solid brown;
}

